  body {
    font-family: sans-serif;
  }
  .hero h1 {
    padding-top: 200px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 100px;
  }
  .hero h3 {
 
    font-family: Roboto;
    font-weight: 400;
  }
  .about {
    padding-top: 160px;
  }
  
  a {
    cursor: pointer;
  }
  .navbar.bg-purple {
    background-color: #8012ff;
  }
  
 #cassie-round {
  width: 350px;
  height: auto;
  border-radius: 55%;
 }
 .footer-nav {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.links-container a {
  margin: 5px;
  padding: 15px 20px;
  color: white;
  border-radius: 6px;
}
.life-image {
 margin-top: 95px;
  height: 500px;
  width: 400px;
border-radius: 15%;}